.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colorCard {
  height: 200px;
  width: 200px;
}

.card__wrapper {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}

.start__button {
  position: absolute;
  width: 100px;
}

.score {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 5;
}

.flash.flash {
  border: 3px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.lost {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.red {
  background-color: red;
  &.flash {
    background-color: rgb(255, 125, 125);
  }
}

.blue {
  background-color: blue;
  &.flash {
    background-color: rgb(125, 125, 255);
  }
}

.green {
  background-color: green;
  &.flash {
    background-color: rgb(125, 255, 125);
  }
}

.yellow {
  background-color: yellow;
  &.flash {
    background-color: rgb(255, 255, 125);
  }
}
